@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao Gestão Pomar</h1>
    <p><a href="https://www.uppersoftwares.com.br/#/home" target="_blank">Upper Softwares</a></p>
</div>
